**/.git
**/.gitignore
**/.devenv
**/.direnv
**/.env.local
**/.env.*.local
**/.phpunit.cache
**/node_modules
**/var
**/vendor
**/public/assets
**/public/bundles
**/tests
**/project
**/.github
**/compose*.yaml
**/devenv*
**/*.md
